

 
  @media (max-width: 780px) {
            .nav-item{
                padding-left: 1rem;
            }
            .banner{
                background: $light-color;
                max-width: 100%;
                height: 600px;
                &_container{
                    @include mx-auto;
                    text-align: center;
                }
            &_container{
                padding:3em 1em;
                h1{
                    font-size: 1.5rem;
                    font-weight: 700; 
                }
                p{
                    font-size: 1rem;
                    font-weight: 400; 
                }   
                button{
                    @include botonm;
                    width:100%;
                    font-size: 1rem;
                }             
            }
        }   
    }  

  
  @media (min-width: 781px) and (max-width: 1280px) {
            .banner{
                background: $gradiente;
                max-width: 100%;
                height: 600px;
                &_container{
                    @include mx-auto;
                    text-align: center;
                }
            &_container{
                padding:5em 2em;
                max-width: 1200px;
                h1{
                    font-size: 2rem;
                    font-weight: 700; 
                }
                p{
                    font-size: 1.5em;
                    font-weight: 400; 
                }      
                button{
                    @include botonm;
                    width:500px;
                    font-size: 1.2rem;
                }               
            }
        }
    }
  
   @media (min-width: 1281px) {
            .banner{
                background: $gradiente;
                max-width: 100%;
                height: 800px;
                &_container{
                    @include mx-auto;
                    text-align: center;
                }
            &_container{  
                padding:10em 2em;
                max-width: 1280px;
                h1{
                    font-size: 2.5rem;
                    font-weight: 700; 
                }
                p{
                    font-size: 1.5rem;
                    font-weight: 400; 
                }   
                button{
                    @include botonm;
                    width:500px;
                    font-size: 1.2rem;
                }                  
            }
        }
   }